
<div class="filter">
    <div class="filter-item">
        <span class="filter-name">Region</span>
        <span class="filter-button fa fa-chevron-left" (click)="regionSelection(true)"></span>
        <span class="filter-selection">{{filter.region.regionName}}</span>
    </div>

    <div class="filter-item">
        <div class="filter-item-disabled" *ngIf="!filter.region.regionID"></div>
        <span class="filter-name">County</span>
        <span class="filter-button fa fa-chevron-left" (click)="countySelection(true)"></span>
        <span class="filter-selection">{{filter.county.countyName}}</span>
    </div>

    <div class="filter-item">
        <span class="filter-name">Genders</span>
        <div class="filter-item-items">
            <template ngFor let-gender [ngForOf]="genders" let-i="index">
                <span class="filter-item-item" (click)="toggleItemSelect(gender)" [ngClass]="{'filter-item-selected':gender.selected}">
                    {{gender.genderName}}
                </span>
            </template>
        </div>
    </div>

    <div class="filter-item">
        <span class="filter-name">Orientations</span>
        <div class="filter-item-items">
            <template ngFor let-orientation [ngForOf]="orientations" let-i="index">
                <span class="filter-item-item" (click)="toggleItemSelect(orientation)" [ngClass]="{'filter-item-selected':orientation.selected}">
                    {{orientation.orientationName}}
                </span>
            </template>
        </div>
    </div>

    <div class="filter-item">
        <span class="filter-name">Verified only</span>
        <span href="javascript:;" class="filter-button button-toggle fa" [ngClass]="{'fa-toggle-on':filter.isVerified, 'fa-toggle-off':!filter.isVerified}" (click)="filter.isVerified = !filter.isVerified"></span>
    </div>
    <div class="filter-item">
        <span class="filter-name">Is Available Today</span>
        <span href="javascript:;" class="filter-button button-toggle fa" [ngClass]="{'fa-toggle-on':filter.isAvailableTodayEscort, 'fa-toggle-off':!filter.isAvailableTodayEscort}" (click)="filter.isAvailableTodayEscort = !filter.isAvailableTodayEscort"></span>
    </div>

    <div class="filter-item">
        <span class="filter-name">Has Gallery</span>
        <span href="javascript:;" class="filter-button button-toggle fa" [ngClass]="{'fa-toggle-on':filter.hasGallery, 'fa-toggle-off':!filter.hasGallery}" (click)="filter.hasGallery = !filter.hasGallery"></span>
    </div>

    <div class="filter-item">
        <span class="filter-name">Has Movie Clips</span>
        <span href="javascript:;" class="filter-button button-toggle fa" [ngClass]="{'fa-toggle-on':filter.hasMovieClips, 'fa-toggle-off':!filter.hasMovieClips}" (click)="filter.hasMovieClips = !filter.hasMovieClips"></span>
    </div>

    <div class="filter-button">
        <button type="button" class="btn btn-primary" (click)="applyFilter()">Apply filter</button>
    </div>




</div>

<div class="filter-list" [ngClass]="{'filter-list-open':regionListOpened}">
    <div class="filter-list-title">
        <span class="fa fa-chevron-right" (click)="regionSelection(false)"></span>
        Regions
    </div>
    <div class="filter">
        <template ngFor let-region [ngForOf]="regions" let-i="index">
            <div class="filter-item" [ngClass]="{'filter-item-selected':filter.region.regionID == region.regionID}" (click)="toggleRegionItemSelect(region)">
                <span class="filter-name">{{region.regionName}}</span>
            </div>
        </template>
    </div>
</div>

<div class="filter-list" [ngClass]="{'filter-list-open':countyListOpened}">
    <div class="filter-list-title">
        <span class="fa fa-chevron-right" (click)="countySelection(false)"></span>
        Counties
    </div>
    <div class="filter">
        <template ngFor let-county [ngForOf]="counties" let-i="index">
            <div class="filter-item" [ngClass]="{'filter-item-selected':filter.county.countyID == county.countyID}" (click)="toggleCountyItemSelect(county)">
                <span class="filter-name">{{county.countyName}}</span>
            </div>
        </template>
    </div>
</div>