<div class="slider-viewport" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)" (touchmove)="onTouchMove($event)">
    <ul class="slides" >
        <template ngFor let-image [ngForOf]="displayImages" let-i="index">
            <li [style.width]="liWidth+'%'" [ngClass]="{'active': isActive(i)}" [style.background]="backgroundColor">
                <img alt="{{image.name}}" src="{{image.src}}">
                <div *ngIf="image.name" class="slide-caption {{slideCaptionStyleClass}}">{{image.name}}</div>
                <div *ngIf="image.html" class="slide-caption {{slideCaptionStyleClass}}" >
                    <div [innerHtml]='image.html'></div>
                </div>
            </li>
        </template>
    </ul>

    <a href="javascript:;" class="slider-button-left" (click)="goLeft()" *ngIf="images.length > 1 && (loop || showLeft())">&#10094;</a>
    <a href="javascript:;" class="slider-button-right" (click)="goRight()"  *ngIf="images.length > 1 && (loop || showRight())">&#10095;</a>

    <ul class="slides-balls" *ngIf="images.length > 1 && balls">
        <template ngFor let-image [ngForOf]="images" let-i="index">
            <li [ngClass]="{'active': isBallActive(i)}">
                <span (click)="goToSlide(i)"></span>
            </li>
        </template>
    </ul>
</div>
