<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= fontCssFilePath %>">
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>

    <style>

        span.glyph-wrapper{
            color: #484646;
            font-size: 18px;
            margin: 2px 0;
            display: block;
            text-decoration: none;
            cursor: text;
            padding: 5px 2px;
        }
        span.glyph-wrapper:hover, span.glyph-wrapper:focus{
            color: #FFF;
            background-color: #05425a;
            border-radius: 2px;
            text-decoration: none;
            transform: scale(2);
            transition: transform 200ms linear, box-shadow 200ms linear;
            z-index: 2;
            position: relative;
            box-shadow: 0 6px 12px rgba(0,0,0,.175);
        }
        span.glyph-wrapper .gp{
            width: 32px;
            text-align: right;
            margin-right: 10px;
        }
        .form-inline{
            margin: 10px 0;
        }
    </style>
    <script>
        function search(ev){
            var elements = document.getElementsByClassName('fs');
            var arr = [].slice.call(elements);
            var value = ev.target.value.trim();
            console.log(1);
            arr.forEach(function (element) {
                if(value){
                    if(element.getAttributeNode("data-name").value.indexOf(value) == -1){
                        element.parentElement.parentElement.style.display = 'none';
                    }
                }else{
                    element.parentElement.parentElement.style.display = '';
                }

            });
        }

        function onSubmit(ev){

            for(var i = 0; i < ev.srcElement.children.length; i++){
                var el = ev.srcElement.children[i];

                if(el.name == 'fontSize' && el.value){
                    $('.glyph-wrapper').css('fontSize', el.value);
                }
                if(el.name == 'color'){
                    $('.glyph-wrapper').css('color', el.value);
                }
            }

            return false;
        }
    </script>
</head>
<body>


<div class="container">
    <h2 class="page-header"><%= iconsTitle %>  <small>(<%= buildDate %>)</small></h2>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <form onsubmit="return onSubmit(event)" class="form-inline">
                <input type="text" class="form-control" name="fontSize" placeholder="Font Size">
                <input type="text" class="form-control" name="color" placeholder="Color">
                <button type="submit" class="btn btn-primary"><span>View</span></button>
            </form>
        </div>
        <div class="col-md-offset-2 col-md-8 col-sm-8">
            <input type="text" class="form-control" name="color" placeholder="Search" onkeyup="search(event)">
        </div>
    </div>
    <div class="row">
    <% _.each(glyphs, function(glyph) { %>
        <div class="col-md-4 col-sm-4">
            <span class="glyph-wrapper" href="javascript:;">
                <i class="<%= glyph.classPrefix %> <%= glyph.className %>" data-name="<%= glyph.fileName%>"></i> <%= glyph.classPrefix %> <%= glyph.className %>
            </span>
        </div>
    <% }); %>
    </div>
</div>

</body>
</html>