<template ngFor let-rateBreak [ngForOf]="rateBreaks" let-i="index">
    <table>
        <caption>inCalls</caption>
        <thead>
            <tr>
                <td>RateBreakID</td>
                <td>RateBreak</td>
                <td>Rate</td>
                <td *ngIf="!rateBreak.isOvernight">Hours</td>
                <td *ngIf="rateBreak.isOvernight">Overnight</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{rateBreak.rateBreakID}}</td>
                <td>{{rateBreak.rateBreak}}</td>
                <td>{{rateBreak.rate}}</td>
                <td *ngIf="!rateBreak.isOvernight">{{rateBreak.hours}}</td>
                <td *ngIf="rateBreak.isOvernight">Overnight</td>
            </tr>
        </tbody>
    </table>
</template>