
<div>
    <div class="blog-subject">
        <a href="javascript:;" class="fa fa-caret-left go-back" [routerLink]="['/profile/'+userId+'/blog']" aria-hidden="true"></a>

        <span>{{blog.subject}}</span>
    </div>

    <div class="blog-image" *ngIf="blog.hasImage">
        <img [attr.src]="blog.imageURL" [attr.alt]="blog.imageURL">
    </div>

    <div class="blog-body">
        <p>
            {{blog.body}}
        </p>
    </div>

    <div class="blog-footer">
        <div>
            By <b>{{blog.user.nickname}}</b> &#183; {{blog.createDate | date:"dd-MM-yyyy"}}
        </div>
    </div>
</div>