<div>
    <div class="blog-image" *ngIf="blog.hasImage">
        <img [attr.src]="blog.imageURL" [attr.alt]="blog.imageURL">
    </div>

    <div class="blog-subject">
        <a href="javascript:;" [routerLink]="['/profile/'+blog.user.userID+'/blog/'+blog.blogID]">{{blog.subject}}</a>
    </div>

    <div class="blog-footer">
        <div>
            By <b>{{blog.user.nickname}}</b> &#183; {{blog.createDate | date:"dd-MM-yyyy"}}
        </div>
    </div>
</div>