<div>
    <div class="report-by">
        <span class="label">By: </span>
        {{fieldReport.client.nickname}}
    </div>
    <div class="report-date">
        <span class="label">When: </span>
        {{fieldReport.meetDate | date:"dd-MM-yyyy"}}
    </div>
    <div class="report-type">
        <span class="label">Type: </span>
        <span *ngIf="fieldReport.inCall">In Call</span>
        <span *ngIf="fieldReport.outCall">Out Call</span>
    </div>
    <div class="report-location">
        <span class="label">Location: </span>
        {{fieldReport.meetLocation}}
    </div>
    <div class="report-duration">
        <span class="label">Duration: </span>
        {{fieldReport.meetDuration}}
    </div>
    <div class="report-score">
        <span class="label">Score: </span>
        {{fieldReport.score}}
    </div>
    <div class="report-value">
        <span class="label">Value For Money: </span>
        {{fieldReport.valueForMoney}}
    </div>
    <div class="report-fee">
        <span class="label">Rate: </span>
        {{fieldReport.meetFee}}
    </div>
    <div class="report-visit-again">
        <span class="label">Visit Again: </span>
        {{fieldReport.visitAgain?'Yes':'No'}}
    </div>
    <div class="report-recommend">
        <span class="label">Recommend: </span>
        {{fieldReport.recommend}}
    </div>
</div>

<!--reportID:number;-->
<!--user:ProfileModel;-->
<!--client:FieldReportClientModel;-->
<!--meetLocation:string;-->
<!--meetDate:string;-->
<!--meetDuration:string;-->
<!--meetFee:string;-->
<!--inCall:boolean;-->
<!--outCall:boolean;-->
<!--visitAgain:boolean;-->
<!--recommend:boolean;-->
<!--valueForMoney:string;-->
<!--score:number;-->
<!--createdDate:string;-->