<template [ngIf]="filter.region && filter.region.regionID">
    <span class="detail region-filter">
        {{filter.region.regionName}}
        <span class="detail-close" (click)="closeRegion()">&times;</span>
    </span>
    <i class="fa fa-caret-right" aria-hidden="true"></i>
</template>
<template [ngIf]="filter.county && filter.county.countyID">
   
    <span class="detail county-filter">
        {{filter.county.countyName}}
        <span class="detail-close" (click)="closeCounty()">&times;</span>
    </span>
    <i class="fa fa-caret-right" aria-hidden="true"></i>
</template>
<!--<span class="genders" *ngIf="filter.genders">{{filter.gender.genderName}}</span>-->
<!--<span class="orientations" *ngIf="filter.orientations">{{filter.orientation.orientationName}}</span>-->

<span class="total-results">{{total}}</span>
