
<div class="image-gallery-list">
    <template ngFor let-image [ngForOf]="images" let-i="index">
        <a href="javascript:;" class="image-gallery-list-item" (click)="setToMainImage(image, i)">
            <img [attr.src]="image[fileUrlField]">
        </a>
    </template>
</div>

<template [ngIf]="mainImage">
    <div class="gallery-view-image">
        <fs-image-slider [images]="images" [index]="currentIndex" [srcField]='fileUrlField' [backgroundColor]="'transparent'"></fs-image-slider>
    </div>
    <div class="gallery-overlay" (click)="resetMainImage()"></div>
</template>