
<template [ngIf]="user && user.profile">
    <div>
        <template [ngIf]="user.hasImages">
            <div class="profile-main-images">
                <fs-image-slider [images]="images"></fs-image-slider>
            </div>
        </template>
        <span class="profile-like fs" [ngClass]="{'fs-like-2':!profileLiked, 'fs-like-full':profileLiked}" (click)="toggleLikeProfile()"></span>

        <div class="profile-details-box" *ngIf="user.hasDetails" [class.open]="sectionState['intro']">
            <div class="profile-details-box-title" (click)="toggleSection('intro')">Intro</div>
            <div class="profile-details-box-content-wrapper">
                <div class="profile-details-box-content">
                    {{user.details}}
                </div>
            </div>
        </div>

        <div class="profile-details-box" [class.open]="sectionState['details']">
            <div class="profile-details-box-title" (click)="toggleSection('details')">Details
                <div style="font-size: 80%; float: right"><span class="label">Last Login: </span><span>{{user.profile.lastLoggedIn | date:"dd-MM-yyyy"}}</span></div>
            </div>
            <div class="profile-details-box-content-wrapper">
                <div class="profile-details-box-content">
                    <div>
                        <span class="label">Age: </span>
                        <span class="value">{{user.profile.age}}</span>
                    </div>
                    <div>
                        <span class="label">Gender: </span>
                        <span class="value">{{user.profile.gender}}</span>
                    </div>
                    <div>
                        <span class="label">Orientation: </span>
                        <span class="value">{{user.profile.orientation}}</span>
                    </div>
                    <div>
                        <span class="label">Nationality: </span>
                        <span class="value">{{user.profile.nationality}}</span>
                    </div>
                    <div>
                        <span class="label">Location: </span>
                        <span class="value">{{user.profile | fsLocation:", "}}</span>
                    </div>

                    <div>
                        <span class="label">Does OutCalls: </span>
                        <span class="value">{{user.profile.doesOutCalls?'Yes':'No'}}</span>
                    </div>
                    <div>
                        <span class="label">Does InCalls: </span>
                        <span class="value">{{user.profile.doesInCalls?'Yes':'No'}}</span>
                    </div>

                    <div *ngIf="user.hasEnjoysWith">
                        <span class="label">Enjoys With: </span>
                        <span class="value">
                            <template ngFor let-enjoy [ngForOf]="user.enjoysWith" let-i="index">
                                {{enjoy.gender}},
                            </template>
                        </span>
                    </div>

                    <div *ngIf="user.hasVitalStats">
                        <div>
                            <span class="label">Ethnicity: </span>
                            <span class="value">{{user.vitalStats.ethnicity}}</span>
                        </div>
                        <div>
                            <span class="label">Dress Size: </span>
                            <span class="value">{{user.vitalStats.dressSize}}</span>
                        </div>
                        <div>
                            <span class="label">Height: </span>
                            <span class="value">{{user.vitalStats.height}}</span>
                        </div>
                        <div>
                            <span class="label">Chest Size: </span>
                            <span class="value">{{user.vitalStats.chestSize}}</span>
                        </div>
                        <div>
                            <span class="label">Hair Colour: </span>
                            <span class="value">{{user.vitalStats.hairColour}}</span>
                        </div>
                        <div>
                            <span class="label">Eye Colour: </span>
                            <span class="value">{{user.vitalStats.eyeColour}}</span>
                        </div>
                        <div>
                            <span class="label">Pubic Hair: </span>
                            <span class="value">{{user.vitalStats.pubicHair}}</span>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="profile-details-box" [class.open]="sectionState['enjoys']">
            <div class="profile-details-box-title" (click)="toggleSection('enjoys')">Enjoys</div>
            <div class="profile-details-box-content-wrapper">
                <div class="profile-details-box-content">
                    <template [ngIf]="!user.hasEnjoys">
                        Has no enjoys
                    </template>
                    <template [ngIf]="user.hasEnjoys">
                        <template ngFor let-enjoy [ngForOf]="user.enjoys" let-i="index">
                            <span class="profile-enjoy">{{enjoy.string}}</span>
                        </template>
                    </template>
                </div>
            </div>
        </div>

        <div class="profile-details-box" [class.open]="sectionState['rates']">
            <div class="profile-details-box-title" (click)="toggleSection('rates')">Rates</div>
            <div class="profile-details-box-content-wrapper">
                <div class="profile-details-box-content">
                    <template [ngIf]="!user.hasEscortRates">
                        Has no rates
                    </template>
                    <template [ngIf]="user.hasEscortRates">
                        <fs-profile-rates [rateBreaks]="user.escortRates.inCalls" [title]="'In Calls'"></fs-profile-rates>
                        <fs-profile-rates [rateBreaks]="user.escortRates.outCalls" [title]="'Out Calls'"></fs-profile-rates>
                    </template>
                </div>
            </div>
        </div>

        <div class="profile-details-box" [class.open]="sectionState['contact']">
            <div class="profile-details-box-title" (click)="toggleSection('contact')">Contact</div>
            <div class="profile-details-box-content-wrapper">
                <div class="profile-details-box-content">
                    <template [ngIf]="!user.hasContact || (!user.contact.hasEmailAddress && !user.contact.hasMobileNumber && !user.contact.hasPhoneChatNumber && !user.contact.hasGroupPhoneNumber && !user.contact.hasVoiceMail)">
                        Has no contacts
                    </template>
                    <template [ngIf]="user.hasContact">
                        <div *ngIf='user.contact.hasEmailAddress'>
                            <span class="label">Email: </span>
                            <span class="value">{{user.contact.emailAddress}}</span>
                        </div>
                        <div *ngIf='user.contact.hasMobileNumber'>
                            <span class="label">Mobile: </span>
                            <span class="value">{{user.contact.mobileNumber}}</span>
                        </div>
                        <div *ngIf='user.contact.hasPhoneChatNumber'>
                            <span class="label">Phone Chat: </span>
                            <span class="value">{{user.contact.phoneChatNumber}}</span>
                        </div>
                        <div *ngIf='user.contact.hasGroupPhoneNumber'>
                            <span class="label">Group Phone: </span>
                            <span class="value">{{user.contact.groupPhoneNumber}}</span>
                        </div>
                        <div *ngIf='user.contact.hasVoiceMail && false'>
                            <span class="label">Voice Mail: </span>
                            <span class="value">{{user.contact}}</span>
                        </div>
                    </template>
                </div>
            </div>
        </div>

        <div class="profile-details-box" *ngIf="user.hasFAQs" [class.open]="sectionState['faqs']">
            <div class="profile-details-box-title" (click)="toggleSection('faqs')">FAQs</div>
            <div class="profile-details-box-content-wrapper">
                <div class="profile-details-box-content">
                    <template [ngIf]="user.faQs">
                        <template ngFor let-faq [ngForOf]="user.faQs" let-i="index">
                            <div>
                                <span class="question">{{faq.question}}</span>
                                <span class="answer">{{faq.answer}}</span>
                            </div>
                        </template>
                    </template>
                </div>
            </div>
        </div>

        <div class="profile-details-box" *ngIf="user.hasInterview" [class.open]="sectionState['interview']">
            <div class="profile-details-box-title" (click)="toggleSection('interview')">Interview</div>
            <div class="profile-details-box-content-wrapper">
                <div class="profile-details-box-content">
                    <template [ngIf]="user.interview.hasInterview1">
                        <template ngFor let-interview [ngForOf]="user.interview.interview1" let-i="index">
                            <div>
                                <span class="question">{{interview.question}}</span>
                                <span class="answer">{{interview.answer}}</span>
                            </div>
                        </template>
                    </template>
                </div>
            </div>
        </div>

    </div>
</template>
