<template ngFor let-star [ngForOf]="stars" let-i="index">
    <template [ngIf]="star >= starsValue">
        <span class="fa fa-star-o"></span>
    </template>
    <template [ngIf]="star < starsValue">
        <span class="fa fa-star"></span>
    </template>
</template>