<div style="height: 250px; margin-bottom: 25px;">
    <fs-image-slider [images]="images" 
        [backgroundColor]="'rgba(255,255,255,0.5)'"
        [slideCaptionStyleClass]="'home-slider-caption'"
        [styleClass]="'home-slider'"></fs-image-slider>
</div>
<div class="main-links-list">
    <h3>
        <span>Browse by category</span>
    </h3>
    <ul class="list-group">
        <li class="list-group-item">
            <a routerLink="escorts"  href="javascript:;">
                <img class='category-icon' src='/images/escorts.svg'>
                <span class="list-group-item-label">Photos</span>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
        </li>
        <li class="list-group-item">
            <a routerLink="movies" href="javascript:;">
                <img class='category-icon' src="/images/movies.svg">
                <span class="list-group-item-label">Movies</span>
                <i class="fa fa-chevron-right" aria-hidden="true"></i></a>    
        </li>
    </ul>
</div>

<div class="main-links-list">
    <h3>
        <span>Top Movies</span>
    </h3>
    <div>
        <template ngFor let-movie [ngForOf]="movies" let-i="index">
            <fs-movie-item [movie]="movie"></fs-movie-item>
        </template>
    </div>
</div>

<div class="main-links-list">
    <h3>
        <span>Top Escorts</span>
    </h3>
    <div >
        <template ngFor let-escort [ngForOf]="escorts" let-i="index">
            <div style="margin-bottom: 1em;">
                <fs-escort-item [profile]="escort"></fs-escort-item>
            </div>

        </template>
    </div>
</div>
