$safina-font-path: "fonts/safina" !default;
@CHARSET "UTF-8";

@font-face {
    font-family: 'safina_fancy';
    src: url('#{$safina-font-path}/safina_fancy-webfont.eot');
    src: url('#{$safina-font-path}/safina_fancy-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$safina-font-path}/safina_fancy-webfont.woff2') format('woff2'),
         url('#{$safina-font-path}/safina_fancy-webfont.woff') format('woff'),
         url('#{$safina-font-path}/safina_fancy-webfont.ttf') format('truetype'),
         url('#{$safina-font-path}/safina_fancy-webfont.svg#safina_fancy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'safina_script';
    src: url('#{$safina-font-path}/safina_script-webfont.eot');
    src: url('#{$safina-font-path}/safina_script-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$safina-font-path}/safina_script-webfont.woff2') format('woff2'),
         url('#{$safina-font-path}/safina_script-webfont.woff') format('woff'),
         url('#{$safina-font-path}/safina_script-webfont.ttf') format('truetype'),
         url('#{$safina-font-path}/safina_script-webfont.svg#safina_script') format('svg');
    font-weight: normal;
    font-style: normal;
}