$fa-font-path: "../styles/fonts" !default;
$icon-font-path: "../styles/fonts/";
$myriad-font-path: "../styles/fonts" !default;
$material-design-icons-font-path: '../styles/fonts/' !default;
$safina-font-path: "../styles/fonts" !default;

$background-color:            #f1f1f1 !default;
$main-block-color:            #FFF !default;
$right-sidebar-background-color:  #2c3840 !default;

$box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px !default;
//$box-shadow: 0 1px 3px rgba(0, 0, 0, .1) !default;



$border-radius-base:        0 !default;
$border-radius-large:       0 !default;
$border-radius-small:       0 !default;

//$navbar-height:                    60px !default;
$navbar-default-color:             #000 !default;
$navbar-default-bg:                #FFF !default;
$navbar-default-border:            transparent !default;

$navbar-default-link-color:                #000 !default;
$navbar-default-link-hover-color:          lighten($navbar-default-bg, 10%) !default;
$navbar-default-link-hover-bg:             lighten($navbar-default-bg, 20%) !default;
$navbar-default-link-active-color:         lighten($navbar-default-bg, 10%) !default;
$navbar-default-link-active-bg:            lighten($navbar-default-bg, 20%) !default;


$left-menu-width:       250px !default;
$right-menu-width:       300px!default;

@import './safina';
@import './node_modules/myriad-font/sass/myriad';
@import './node_modules/font-awesome/scss/font-awesome';
@import './node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
//@import './node_modules/material-design-icons/iconfont/material-icons.css';

html, body {
  height: 100%;
}
a{
  color: inherit;
  &:focus, &:hover {
    color: inherit;
  }
}
body{
  background-color: $background-color;
  //overflow-y: hidden;
  // background-color: rgba(210, 83, 83, 0.09);
}
.label{
  color: inherit;
  padding: 0;
  font-size: 100%;
}
.navbar-nav {
  margin: 0px -15px;
  >li {
    float: left;
  }
}

.navbar{
  margin-bottom: 0;
  @include box-shadow(0 2px 4px rgba(0,0,0,.3),0 0 0 2px rgba(0,0,0,.05));
  z-index: 9999;
}
.navbar-right{
  float: right;
}
.navbar-header{
  float: left;
}

.modal{
  display: block;
  margin: 20px;
  .panel-body{
    max-height: 80%;
    overflow-y: auto;
  }
}
.overlay{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.7);
  cursor: pointer;
  transition: background 0.5s ease;
  z-index: 99999;
}

.clear-after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.footer{
  min-height: 400px;
  background-color: #CCC;
  margin-top: 30px;
  padding: 20px;
  .rights{
    text-align: center;
    margin: 10px;
  }
  .powered{
    text-align: center;
    a{
      display: inline-block;
      img{
        height: 30px;
      }
    }
  }
}
.content{
  position: relative;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  .main-content{
    width: 100%;
    left: 0;
    transition: all 200ms linear;
    .menu-overlay{
      @extend .overlay;
    }
  }
  .right-sidebar, .left-sidebar{
    background-color: $right-sidebar-background-color;
    transition: all 200ms linear;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    float: right;

    top: 0;
    color: $background-color;
    @include box-shadow(0 1px 3px rgba(0, 0, 0, .2));
  }
  .left-sidebar{
    float: left;
    left: -$left-menu-width;
    width: $left-menu-width;
  }
  .right-sidebar{
    right: -$right-menu-width;
    width: $right-menu-width;
  }
}



.left-sidebar-opened{
  .main-content{
    -webkit-transform: translateX($left-menu-width);
    -ms-transform: translateX($left-menu-width);
    transform: translateX($left-menu-width);
    .menu-overlay{
      display: block;
    }
  }
  .left-sidebar{
    left: 0;
  }
}

.right-sidebar-opened{
  .main-content{
    -webkit-transform: translateX(-$right-menu-width);
    -ms-transform: translateX(-$right-menu-width);
    transform: translateX(-$right-menu-width);
    .menu-overlay{
      display: block;
    }
  }
  .right-sidebar{
    right: 0;
  }
}

.content-box{
  background-color: #fff;
  @include box-shadow(0 1px 3px rgba(0, 0, 0, .1));
  border-radius: 2px;
  position: relative;
  display: block;
}

ul.menu-list{
  list-style: none;
  margin-top: 20px;
  padding-left: 0;
  li{
    
    font-size: 16px;
    a{
      display: block;
      color: #FFF;
      padding: 10px 15px;
      img{
        height: 16px;
        margin-right: 15px;
        color: red;
      }
      &:hover,&:focus,&.menu-active-link{
        background-color: rgba(255,255,255,0.2);
      }

    }
  }
}


fs-filter-display{
  display: block;
  .detail, .total-results{
    display: inline-block;
    @include box-shadow(0 1px 3px rgba(0, 0, 0, .1));
    background-color: #797878;
    color: #FFF;
    padding: 2px 5px;
    border-radius: 2px;
    &.county-filter{
      background-color: #b93f3f;
    }
  }
  .detail-close{
    cursor: pointer;
    margin-left: 5px;
  }
  .total-results{}
}

.profile-like{
  color: #FFF;
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 130%;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

fs-escort-item{
  display: block;
  width: 100%;
  //position: relative;
  .profile-list-item{
     @extend .content-box;
    .list-item-details{
      position: relative;
    }

    .list-profile-location{
      color: #FFF;
      display: block;
    }
    .list-profile-ratings{
      position: absolute;
      bottom: 0;
      padding: 5px 5px;
      background-color: rgba(0, 0, 0, 0.4);
      font-size: 90%;
      fs-profile-star-ratings{
        color: rgba(255, 177, 25, 0.84);
      }

    }
    .list-item-name{
      margin-top: 5px;
      padding: 0 10px;
      padding-right: 30px;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
      a{
        color: inherit;
      }
      &:hover{
        text-decoration: underline;
      }
    }
    .list-profile-photo{
      position: relative;
      display: block;
      width: 100%;
      height: 0;
      background-color: #383434;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      height: 200px;
    }
    .list-profile-desc{
      padding: 0 10px;
      height: 14px;
      .profile-summary{
        font-size: 14px;
        display: block;
        margin: 5px 0;
        color: #c1c1c1;
        height: 38px;
        overflow-y: hidden;
      }
      
    }
    .item-menu{
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 10px;
      cursor: pointer;
      &:hover,&:focus{
        cursor: pointer;
      }
    }
    .item-gender{
      position: absolute;
      top: 5px;
      right: 10px;
    }
    .item-has-movies{
      position: absolute;
      top: 5px;
      right: 28px;
    }
    .is-verified{
        display: inline-block;
        color: green;
        font-size: 10px;
        text-transform: uppercase;
      }
      .is-available-today{
        float: right; 
        color: green;
        margin-right: 20px;
      }
    .list-item-footer{
      padding: 10px 0;
      margin: 0 10px;
      margin-top: 5px;
      border-top: 1px solid #f2f2f2;
      
      .item-last-update-date{
        color: #868484;
        font-size: 80%;
        .label{
          padding: 0;
          color: inherit;
          font-size: 100%;
        }
      }
    }
  }
}

.profile-list{
  .profile-list-top{
    padding: .5em;
    fs-filter-display{
      float: left;
    }
    .change-list-display-type{
      float: right;
      color: #797878;
      font-size: 20px;
    }
  } 
  .profile-list-wrapper{
    transition: all 200ms linear;
    margin: 0 10px;
    fs-escort-item{
      margin-bottom: 1em;
      
    }

    &.masonry{
      margin: 0 .7em;
      column-count: 2;
      column-gap: .7em;
      fs-escort-item{
        margin-bottom: .7em;
        display: inline-block;
        .profile-list-item{
          .list-item-footer{
            font-size: 75%;
          }
          .list-item-photo{
            padding-bottom: 100%;
            height: 0;
          }
        }
      }
    }
  }
}
.profile-header {
  @include box-shadow(0 1px 3px rgba(0, 0, 0, .2));
  background-color: $main-block-color;
  .profile-title {
    padding: 10px 0;
    .go-back{
      padding: 0 10px;
      color: inherit;
      &:hover, &:focus{
        text-decoration: none;
      }
    }
  }
  .profile-star-ratings, .profile-location{
    margin-left: 35px;
  }
  .profile-sections {
    text-align: center;
    .profile-section {
      display: inline-block;
      border-bottom: 2px solid transparent;
      padding: 3px 3px;
      transition: all 200ms;
      cursor: pointer;
      color: inherit;
      &:hover, &:focus, &.profile-sections-active {
        border-bottom: 2px solid #D25353;
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
fs-profile-details{
  display: block;
  position: relative;
  .profile-like{
    font-size: 220%;
  }
}
.profile-content{
  margin-top: 10px;
}

.profile-main-images{
  margin-bottom: 25px;
  height: 250px;
}

.profile-details{
  .profile-description{
      padding: 15px 20px;
      .profile-summary{
      }
  }
  .profile-menu{

  }
}
fs-profile{
  display: block;
  padding-bottom: 100px;
}
fs-profile-details{
  .profile-details-box{
    @extend .content-box;
    margin: 0 10px;
    margin-bottom: 10px;
    .profile-details-box-title{
      margin: 0 10px;
      padding: 10px 0;
      cursor: pointer;
      font-size: 16px;
    }
    &.open{
      .profile-details-box-content-wrapper{
        max-height: 2000px;
      }
    }
    .profile-details-box-content-wrapper{
      max-height: 0;
      overflow-y: hidden;
      transition: max-height 200ms;
      .profile-details-box-content{
        border-top: 1px solid #f2f2f2;
        padding: 10px 0;
        margin: 0 10px;


        overflow-y: hidden;
        table{
          tr{
            margin-bottom: 5px;
            padding: 2px 0;
          }
        }
        .question{
          display: block;
          font-weight: 600;
        }
        .answer{
          display: block;
          margin-left: 20px;
          margin-bottom: 10px;
        }
      }

    }
  }
}

fs-gallery{
  position: relative;
  display: block;
  .image-gallery-list{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: stretch;
    flex-wrap: wrap;
    .image-gallery-list-item{
      display: block;
      //background-color: red;
      flex-shrink: 1;
      position: relative;
      border: 3px solid transparent;
      width: 25%;
      img{
        width: 100%;
      }
    }
  }
  .gallery-overlay {
    @extend .overlay;
    position: fixed;
    display: block;
  }
  .gallery-view-image{
    margin: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    text-align: center;
    @include box-shadow(0 1px 3px rgba(0, 0, 0, .2));


    fs-image-slider {
      .slider-viewport {
        ul.slides {
          li {
            img {
              height: auto;
              max-height: 100%;
              max-width: 100%;
            }
          }
        }
      }
    }

  }
}
fs-field-report{
  @extend .content-box;
  margin: 10px;
  padding: 10px;
}
fs-blog-item, fs-blog-detail{
  @extend .content-box;
  margin: 0 10px;
  margin-bottom: 10px;
  .blog-subject{
    padding: 15px 10px;
    font-size: 18px;
    font-weight: 600;
    a{
      color: inherit;
    }

  }
  .blog-image{
    height: 200px;
    background-color: #383434;
    text-align: center;
    img{
      height: 100%;
    }
  }
  .blog-footer{
    border-top: 1px solid #CCC;
    padding: 10px;
    color: #868484;
    font-size: 80%;
  }
  .blog-body{
    padding: 20px;
  }

}
fs-filter{
  height: 100%;
  display: block;
  position: relative;
  .filter{
    .filter-item{
      position: relative;
      .filter-item-disabled{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(44, 56, 64, 0.3);
      }
      border-bottom: 1px solid #CCCCCC;
      padding: 10px 15px;
      .filter-name{

      }
      .filter-selection{
        float: right;
        display: block;
        margin-right: 10px;
      }
      .filter-button{
        float: right;
        cursor: pointer;
        margin: 0;
      }
      .filter-item-items{
        .filter-item-item{
          display: inline-block;
          padding: 5px 8px;
          border: 1px solid #CCCCCC;
          border-radius: 4px;
          margin: 3px;
          cursor: pointer;

          &.filter-item-selected{
            background-color: #FFF;
            color: $right-sidebar-background-color;
          }
        }
      }

    }
    .filter-button{
      text-align: center;
      margin: 10px 15px;
      button{
        width: 100%;
      }
      &.button-toggle{
        font-size: 30px;
        margin-top: -5px;
        &.fa-toggle-on{
          color: #00A000;
        }
        &.fa-toggle-off{
          color: red;
        }
      }

    }
  }
  .filter-list{
    // height: 100%;
    @include box-shadow(0 1px 3px rgba(0, 0, 0, .2));
    &.filter-list-open{
      left: 5%;
    }
    position: absolute;
    top: 0;
    left: 100%;
    width: 98%;
    background-color: #FFF;
    transition: all 200ms linear;
    min-height: 100%;
    .filter-list-title{
      padding: 15px 15px;
      border-bottom: 1px solid #CCCCCC;
      background-color: red;
    }
    .filter{
      .filter-item{
        cursor: pointer;
        color: initial;
        &:hover, &.filter-item-selected{
          background-color: $background-color;
        }

      }
    }
  }
}
.button-toggle{
  .off{

  }
  .on{

  }
}
fs-profile-star-ratings{
  color: #ffb119;
  span{
    margin-right: 2px;
    &:last-child{
      margin-right: 0;
    }
  }
}
fs-profile-snippet{
  .snippet-overlay{
    @extend .overlay;
    z-index: 5;
    position: fixed; 
    display: block;
  }
  .snippet{
    @extend .content-box;
    width: 50%;
    margin-left: -25%;
    position: fixed;
    top: 80px;
    left: 50%;
    z-index: 6;
    
    .snippet-top{
      padding: 10px;
      font-size: 18px;
	    font-weight: 600;
      box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.5);
      .snippet-image{
        height: 60px;
      }
    }
    .snippet-section{
      // border-top: 1px solid #f2f2f2;
      .snippet-section-title{
        border-top: 1px solid #f2f2f2;
        padding: 10px;
        cursor: pointer;
      }
      &.open{
        .snippet-section-content{
          max-height: 1000px;
          
        }
      }
      .snippet-section-content{
        max-height: 0;
        padding: 0 10px;
        overflow-y: hidden;
        transition: all 200ms linear;
        .label{
          color: initial;
          font-size: 100%;
          padding: 0;
          &::after{
            content: ": ";
          }
        }
        .value{
          
        }
        
      }
    }
  }
}
fs-profile-rates{
  display: block;
}
fs-image-slider{
  display: block;
  //height: 200px;
  .slider-viewport{
    overflow: hidden;
    position: relative;
    width: 100%;
    ul.slides{
      zoom: 1;
      list-style: none;
      margin: 0px;
      padding: 0px;
      transition: all 1s ease;
      font-size: 0;
      li{
        font-size: 0;
        margin: 0px;
        padding: 0px;
        background-color: #383434;
        width: 100%;
        float: left;
        display: block;
        text-align: center;
        position: relative;
        img{
          height: 100%;
        }
        .slide-caption{

          position: absolute;
          bottom: 0;
          font-size: initial;
          padding: 3px 20px 15px;
          //background-color: rgba(47,19,127,.72);
          background-color: rgba(210, 83, 83, 0.7);
          left: 10px;
          color: #fff;
          margin-right: 10px;
        }
      }
      &:after{
        @extend .clear-after;
        //content: ".";
        //display: block;
        //clear: both;
        //visibility: hidden;
        //line-height: 0;
        //height: 0;
      }
    }

    .slider-button-left, .slider-button-right{
      position: absolute;
      display: block;
      padding: 15px 7px;
      background-color: rgba(255,255,255,0.5);
      right: 0;
      top: 50%;
      margin-top: -34px;
      font-size: 20px;
      color: rgba(0, 0, 0, 0.7);
      z-index: 10;
      &:hover, &:focus{
        text-decoration: none;
      }
    }
    .slider-button-left{
      right: auto;
      left: 0;
    }
  }
  ul.slides-balls{
    width: 100%;
    position: absolute;
    padding: 0;
    text-align: center;
    list-style: none;
    font-size: 0;
    margin: 0;
    z-index: 2;
    bottom: 4px;
    li{
      font-size: 0;
      display: inline-block;
      margin: 0 4px;
      span{
        cursor: pointer;
        height: 8px;
        width: 8px;

        border-radius: 50%;
        display: block;
        background-color: rgba(255,255,255,0.6);
        transition: all 300ms;
      }
      &.active{
        span{
          box-shadow: rgba(52, 52, 52, 0.7) 1px 3px 8px;
          background-color: #fff;
          height: 10px;
          width: 10px;
          margin: 0 0;
        }
      }
    }
    &:after{
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
  }
}

.loading{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50px;
  margin-top: -25px;
  margin-left: -25px;
  img{
    width: 100%;
  }
}

.movie-list-wrapper{
  overflow-y: auto;
  height: 300px;
}
fs-movie-item{
  @extend .content-box;
  margin: 1em;
  display: block;
  &:after {
    @extend .clear-after;
  }

  .movie-details{
    float: none;
    margin-left: 50%;
    width: auto;
    height: 130px;
    padding: 5px;
    position: relative;
    padding-bottom: 20px;
    overflow: hidden;
    .movie-title{
      display: block;
      font-size: 110%;
      font-weight: bold;
      line-height: 16px;
    }
    .movie-subtitle{
      display: block;
      margin-top: 5px;
      color: lighten($gray-dark, 40%);
    }
    .movie-size{
      
    }
    .movie-views{
      font-size: 80%;
    }
    .movie-date{
      position: absolute;
      bottom: 3px;
      right: 5px;
      font-size: 80%;
    }
    .movie-author{
      position: absolute;
      bottom: 3px;
      left: 5px;
      font-size: 80%;
    }

  }
  .movie-image-wrapper{
    float: left;
    padding: 0;
    width: 50%;
    height: 130px;

    position: relative;
    
    .movie-image{
      background-size: cover;
      background-color: #383434;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
    }
    .movie-size, .movie-duration{
      position: absolute;
      bottom: 0;
      right: 0;
      padding:3px;
      background-color: rgba(0, 0, 0, 0.4);
      color: #FFF;
      font-size: 80%;
      
    }
    .movie-size{
      right: auto;
      left: 0;
    }
  }

}

fs-home{
  display: block;
  fs-image-slider{
    @include box-shadow(0 1px 3px rgba(0, 0, 0, .1));
    .slider-viewport{
      ul.slides{
        li{
          .home-slider-caption{
            bottom: 2em;
            left: 2em;
            background-color: rgba(255,255,255,0.5);
            padding: 3px 10px;
            font-size: initial;
            color: inherit;
            a{
              color: inherit;
              font-size: 16px;
              &:hover, &:focus{
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  } 
  .main-links-list{
    border-top: 1px solid #CCC;
    margin: 3em 1em;
    h3{
      margin-top: -12px; 
      margin-bottom: 20px;
      text-align: center;
      font-size: 20px;
	    font-weight: 200;
      span{
        padding: 0 10px;
        background-color: $background-color;
      }
    }
    fs-movie-item{
      margin: 0;
      margin-bottom: 1em;
    }
    ul.list-group{

      font-size: 20px;
      li.list-group-item{
        padding: 0;
        margin-bottom: 10px;
        border: 0;
        @include box-shadow(0 1px 3px rgba(0, 0, 0, .1));
        a{
          position: relative;
          padding: 10px 15px;
          display: block;
          color: inherit;

          &:hover, &:focus{
            text-decoration: none;
          }
          .list-group-item-label{
            font-size: 16px;
            font-weight: 200;
            text-transform: uppercase;
          }
          .category-icon{
            margin-right: 10px;
            height: 40px
          }
          .fa-chevron-right{
            font-size: 80%;
            line-height: 60px;
            top: 0;
            position: absolute;
            right: 10px;
          }
        }
      }
    }
  }
  
}

@media (min-width: $screen-md-min) {
  .profile-list{
    .profile-list-wrapper{
      &.masonry{
        column-count: 3;
      }
    }
  }
}
@media (min-width: $screen-lg-min) {
  .profile-list{
    .profile-list-wrapper{
      &.masonry{
        margin: .7em;
        // column-count: 2;
        column-gap: 1.5em;
        column-count: 4; 
        fs-result-profile{
          margin-bottom: 1.5em;
        }
      }
    }
  }  
}