<div class="profile-list-item" >

	<a class="list-profile-photo" href="javascript:;" [routerLink]="['/profile/'+profile.userID+'/details']" [style.background-image]="'url('+profileImageLink+')'" >
		<div class="list-profile-ratings">
			<fs-profile-star-ratings [ratings]="profile.ratings"></fs-profile-star-ratings>
			<span class="list-profile-location">
				{{profile | fsLocation:", "}}
			</span>
		</div>
	</a>
	<span class="profile-like fs" [ngClass]="{'fs-like-2':!profileLiked, 'fs-like-full':profileLiked}" (click)="toggleLikeProfile()"></span>

	<div class="list-item-details">
		<div class="list-item-name">
			<a href="javascript:;" [routerLink]="['/profile/'+profile.userID+'/details']">{{profile.nickname}}</a>
		</div>

		<div class="list-profile-desc">
			<!--<span class="profile-summary">{{profile.summary}}</span>-->
			<span class="is-verified" *ngIf="profile.verified" >Verified</span>
		</div>

		<span class="item-gender fa {{genderIcon}}" title="{{profile.gender}}"></span>

		<span class="item-has-movies fa fa-film" title="Movie Clips" *ngIf="profile.hasMovieClips"></span>



		<span class="item-menu fa fa-ellipsis-v" (click)='openProfileSnippet()'></span>

		<div class="list-item-footer">
			<span class="item-last-update-date">
				<span class="label">	
					Last Updated:
				</span>
				{{profile.lastUpdated | date:"dd-MM-yyyy"}}
			</span>
			<span class="is-available-today fa fa-circle" title="Available today"></span>
		</div>
	</div>
</div>
