
<div class="movie-list-wrapper" (scroll)="onScroll($event)">
    <template ngFor let-movie [ngForOf]="movies" let-i="index">

        <fs-movie-item [movie]="movie"></fs-movie-item>

    </template>
</div>
