<div class="movie-image-wrapper">
    <div class="movie-image" [style.backgroundImage]="'url(' + movie.thumbURL + ')'"></div>
    <span class="movie-duration">
        {{movie.seconds | fsSecondsTime}}
    </span>
    <span class="movie-size">{{movie.size | fsFileSize:1}}</span>
</div>
<div class="movie-details">
    <a href="javascript:;" class="movie-title">{{movie.title}}</a>
    <span class="movie-subtitle">{{movie.details}}</span>
    
    <span class="movie-date">{{movie.dateUploaded | date:"dd-MM-yyyy"}}</span>
    <span class="movie-views">{{movie.numberOfViews}} views</span>
    <span  class="movie-author">By: <a [routerLink]="'/profile/'+movie.user.userID+'/details'">{{movie.user.nickname}}</a></span>
</div>