<div id="wrapper" [ngClass]="{'right-sidebar-opened':isRightSidebarOpened,'left-sidebar-opened':isLeftSidebarOpened}">
    <div class="content">
        <div class="left-sidebar" fsSwipeHandle (click)="isLeftSidebarOpened= false">
            <ul class="menu-list">
                <li>
                    <a routerLinkActive="menu-active-link" routerLink='/'>
                        <span class='fs fs-home-1'></span>
                        Home
                    </a>
                </li>
                <li>
                    <a routerLinkActive="menu-active-link" routerLink='movies'>
                        <span class=' fs fs-video-camera-1'></span>
                        Movies
                    </a>
                </li>
                <li>
                    <a routerLinkActive="menu-active-link" routerLink='escorts'>
                        <span class='fs fs-gender'></span>
                        Images
                        </a>
                </li>
                    
            </ul>
        </div>
        <div class="main-content">
            <div class="menu-overlay" (click)="isRightSidebarOpened = false; isLeftSidebarOpened= false"></div>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="javascript:;" (click)="isLeftSidebarOpened = true">
                            <i class="fs fs-menu-1" aria-hidden="true" style="font-weight: bold;"></i>
                        </a>
                        <a class="navbar-brand" href="#" style="font-family: safina_fancy; font-size: 40px; line-height: 35px;">
                            Faras
                        </a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="javascript:;" (click)="openCountrySelection()">{{country?country.countryName:'Select country'}}</a></li>
                        <li><a href="javascript:;" (click)="isRightSidebarOpened = !isRightSidebarOpened" class="fa fa-filter"></a></li>
                    </ul>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <router-outlet></router-outlet>
                </div>
            </div>

            <!--<div class="footer"></div>-->
        </div>
        <div class="right-sidebar">
            <fs-filter></fs-filter>
        </div>
    </div>
    <div class="footer">
        <div class="powered">Powered by
            <a href="http://www.adultwork.com/" target="_blank">
                <img src="/images/AWLogo_on.png"  alt="AdultWork.com">
            </a>
        </div>
        <div class="rights">Copyright © 2016 fsquare<br>All rights reserved.</div>
    </div>
</div>
<template [ngIf]="isCountrySelectOpened">
    <div class="modal">
        <div class="panel panel-default">
            <div class="panel-heading">Country
                <button type="button" class="close" (click)="isCountrySelectOpened = false"><span>&times;</span></button>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <template ngFor let-country_ [ngForOf]="countries" let-i="index">
                        <button type="button" class="list-group-item" [ngClass]="{'active':selectedCountry == country_}" (click)="selectedCountry = country_">{{country_.countryName}}({{country_.countryID}})</button>
                    </template>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-primary" (click)="setCountry()" >Continue</button>
            </div>
        </div>
    </div>

</template>