<template [ngIf]="user">
    <div class='snippet'>
        <div class="snippet-top">
            <img class="snippet-image" [attr.src]="getProfileImage()" />
            {{user.profile.nickname}}
        </div>

        <div class="snippet-section open"  (click)="toggleSectionState('rates')">
            <div class="snippet-section-title">Rates</div>
            <div class="snippet-section-content rates">
                <span *ngIf='!user.hasEscortRates'>No rates</span>
                <div *ngIf='user.hasEscortRates'>
                    <fs-profile-rates [rateBreaks]="user.escortRates.inCalls" [title]="'In Calls'"></fs-profile-rates>
                    <fs-profile-rates [rateBreaks]="user.escortRates.outCalls" [title]="'Out Calls'"></fs-profile-rates>
                </div>
            </div>
        </div>

        <div class="snippet-section" [ngClass]="{'open': state['contact']}" (click)="toggleSectionState('contact')">
            <div class="snippet-section-title">Contact</div>
            <div class="snippet-section-content contact" >
                <span *ngIf='!user.hasContact'>No Contacts</span>
                <div *ngIf='user.hasContact'>
                    <div *ngIf='user.contact.hasEmailAddress'>
                        <span class="label"></span>
                        <span class="value">{{user.contact.emailAddress}}</span>
                    </div>
                    <div *ngIf='user.contact.hasMobileNumber'>
                        <span class="label"></span>
                        <span class="value">{{user.contact.mobileNumber}}</span>
                    </div>
                    <div *ngIf='user.contact.hasPhoneChatNumber'>
                        <span class="label"></span>
                        <span class="value">{{user.contact.phoneChatNumber}}</span>
                    </div>
                    <div *ngIf='user.contact.hasGroupPhoneNumber'>
                        <span class="label"></span>
                        <span class="value">{{user.contact.groupPhoneNumber}}</span>
                    </div>
                    <div *ngIf='user.contact.hasVoiceMail && false'>
                        <span class="label"></span>
                        <span class="value">{{user.contact}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="snippet-section" [ngClass]="{'open': state['vitalStats']}">
            <div class="snippet-section-title" (click)="toggleSectionState('vitalStats')">Vital Stats</div>
            <div class="snippet-section-content vital-stats" >
                <span *ngIf='!user.hasVitalStats'>No Vital Stats</span>
                <div *ngIf='user.hasVitalStats'>
                    <div>
                        <span class="label">Ethnicity</span>
                        <span class="value">{{user.vitalStats.ethnicity}}</span>
                    </div>
                    <div>
                        <span class="label">Dress Size</span>
                        <span class="value">{{user.vitalStats.dressSize}}</span>
                    </div>
                    <div>
                        <span class="label">Height</span>
                        <span class="value">{{user.vitalStats.height}}</span>
                    </div>
                    <div>
                        <span class="label">Chest Size</span>
                        <span class="value">{{user.vitalStats.chestSize}}</span>
                    </div>
                    <div>
                        <span class="label">Hair Colour</span>
                        <span class="value">{{user.vitalStats.hairColour}}</span>
                    </div>
                    <div>
                        <span class="label">Eye Colour</span>
                        <span class="value">{{user.vitalStats.eyeColour}}</span>
                    </div>
                    <div>
                        <span class="label">Pubic Hair</span>
                        <span class="value">{{user.vitalStats.pubicHair}}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class='snippet-overlay' (click)='closeProfileSnippet()'> </div>
</template>