<template [ngIf]="user && user.profile">
	<div class="profile-header">
		<div class="profile-title">
			<h3 style="margin: 0">
                <a href="javascript:;" class="fa fa-caret-left go-back" (click)="goBack()" aria-hidden="true"></a>
                <template [ngIf]="user && user.profile"><span>{{user.profile.nickname}}</span> </template>
            </h3>
            <div class="profile-location">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>{{user.profile | fsLocation}}</span>
            </div>
		    <div class="profile-star-ratings">
                <fs-profile-star-ratings [ratings]="user.profile.ratings"></fs-profile-star-ratings>
            </div>
		</div>
        <div class="profile-sections">
            <template [ngIf]="user && user.profile">
                <a href="javascript:;" routerLinkActive="profile-sections-active" [routerLink]="['/profile/'+userId+'/details']" class="profile-section">Details</a>
                <a href="javascript:;" routerLinkActive="profile-sections-active" [routerLink]="['/profile/'+userId+'/gallery']" *ngIf="user.profile.hasGallery" class="profile-section">Gallery</a>
                <a href="javascript:;" routerLinkActive="profile-sections-active" [routerLink]="['/profile/'+userId+'/private-gallery']" *ngIf="user.profile.hasPrivateGallery" class="profile-section">Private Gallery</a>
                <a href="javascript:;" routerLinkActive="profile-sections-active" [routerLink]="['/profile/'+userId+'/blog']" *ngIf="user.profile.hasBlog" class="profile-section">Blog</a>
                <a href="javascript:;" routerLinkActive="profile-sections-active" [routerLink]="['/profile/'+userId+'/field-reports']" class="profile-section">Reports</a>
                <a href="javascript:;" routerLinkActive="profile-sections-active" [routerLink]="['/profile/'+userId+'/movies']" *ngIf="user.profile.hasMovieClips" class="profile-section">Movies</a>

            </template>
        </div>
    </div>
</template>
<template [ngIf]="!user || !user.profile">
    <div class="loading">
        <img src="/images/loading.gif">
    </div>
</template>
<div class="profile-content">
    <router-outlet></router-outlet>
</div>
