
<div class="profile-list" *ngIf="profiles.length > 0" >
    <div class="profile-list-top">
        <fs-filter-display  *ngIf="searchModel" [filter]="filter" [total]="searchModel.profilesTotal"></fs-filter-display>
        <span class='change-list-display-type glyphicon' [ngClass]="{'glyphicon-th-list': listDisplayType === 'masonry', 'glyphicon-th-large': listDisplayType === 'list'}" (click)="changeListDisplayType()"></span>
        <div class="clearfix"></div>
    </div>
    
    <div class="profile-list-wrapper" [ngClass]="{'masonry': listDisplayType === 'masonry'}" (scroll)="onScroll($event)">
        <template ngFor let-profile [ngForOf]="profiles" let-i="index">
            <fs-escort-item [profile]="profile"></fs-escort-item>
        </template>
        <div class="clearfix"></div>
    </div>
</div>
<fs-profile-snippet [user]='userPreview' ></fs-profile-snippet>
<template [ngIf]="isLoading">
    <div class="loading">
        <img src="/images/loading.gif">
    </div>
</template>